<!DOCTYPE html>
<html>
    <head>
        <title>gps log</title>
    </head>
    <body>
        <div class="log_wrap">

        </div>

        <script src="/socket.io/socket.io.js"></script>

        <script>
            const socket = io.connect('http://103.60.127.85:8000', {
                transports: ['websocket'],
            });


            socket.emit('join', {room: "room"});


            socket.on("gps_client_update", async (data) => {
                console.log(data)
                const pTag = document.createElement('p');
                
                const dataHtml = `${data.rouser_id}`;

                pTag.appendChild(dataHtml);
                
                document.getElementsByClassName('log_wrap')[0].appendChild(pTag);

            })
        </script>
        

    </body>
</html>