<!DOCTYPE html>
<html>
    <head>
        <title>gps log</title>

        <style>
            .section {
                width: 100%;
                margin: 0 auto;

                background-color: #fff;
                border: 5px solid #233067;
            }

            .header{
                background-color: #233067;
                padding: 15px;
            }

            .header h1 {
                color: #fff;
            }

            .log_wrap{
                padding: 20px;
            }

            .dataWrap{
                background-color: #fff;
                box-shadow: 5px 5px 10px #ccc;
                padding: 10px;
                margin: 10px;
            }

            .dataWrap p {
                text-indent: 2em;
            }
        </style>
    </head>
    <body>
        <div class="section">
            <div class="header">
                <h1>GPS 실시간 로그 페이지</h1>
            </div>

            <div class="log_wrap">
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>

        <script>
            const socket = io.connect('http://103.60.127.85:8000', {
                transports: ['websocket'],
            });


            socket.emit('join', {room: "room"});

            // socket.on("gps_client_test_before", async (datas) => {

            //     datas.forEach(data => {
            //         const divTag = document.createElement('div');
                
            //         const dataHtml =
            //             `<div class='dataWrap'>
            //                 {
            //                     <p>mdn: ${data.router_id},</p>
            //                     <p>latitude: ${data.latitude},</p>
            //                     <p>longitude: ${data.longitude},</p>
            //                     <p>rsrp: ${data.rsrp},</p>
            //                 }
                            
            //             </div>`;

            //             divTag.innerHTML = dataHtml;
                    
            //         document.getElementsByClassName('log_wrap')[0].append(divTag);
            //     });

                
            // })


            socket.on("gps_client_update", async (data) => {
                console.log(data)
                const divTag = document.createElement('div');
                
                const dataHtml =
                    `<div class='dataWrap'>
                        {
                            <p>mdn: ${data.router_id},</p>
                            <p>latitude: ${data.latitude},</p>
                            <p>longitude: ${data.longitude},</p>
                            <p>rsrp: ${data.rsrp},</p>
                        }
                        
                    </div>`;

                    divTag.innerHTML = dataHtml;
                
                document.getElementsByClassName('log_wrap')[0].append(divTag);

            })
        </script>
        

    </body>
</html>