<!DOCTYPE html>
<html>
    <head>
        <title>gps log</title>
    </head>
    <body>
        <div class="log_wrap">

        </div>

        <script src="/socket.io/socket.io.js"></script>

        <script>
            const socket = io.connect('http://103.60.127.85:8000', {
                transports: ['websocket'],
            });


            socket.on("gps_client_update", async (data) => {
                console.log(data)
                const pTag = document.createElement('p');
                const textNode = document.createTextNode(data);

                pTag.appendChild(textNode);
                
                document.querySelector('div:log_wrap').appendChild(pTag);

            })
        </script>
        

    </body>
</html>